{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Namarrr{% endblock title %}</title>

        <!-- Bootstrap -->
        {% block css_includes %}
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
            <link href="{% static 'css/jumbotron-narrow.css' %}" rel="stylesheet">
        {% endblock css_includes %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div class="header">
                <ul class="nav nav-pills pull-right">
                    {% if user.is_authenticated %}
                        <li>
                            <a href="#">Submit Words</a>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                {{ user.first_name }} <span class="caret">
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'accounts:logout' %}">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'accounts:login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
                <h3 class="text-muted">Namarrr</h3>
            </div>
            {% block content %}
                Hello World!
            {% endblock content %}

            {% block js_includes %}
                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="{% static 'js/bootstrap.min.js' %}"></script>
            {% endblock js_includes %}
        </div>
    </body>
</html>
