{% extends 'base.html' %}
{% load staticfiles %}

{% block css_includes %}
    {{ block.super }}
    <link href="{% static 'css/namarrr.css' %}" rel="stylesheet">
{% endblock css_includes %}

{% block content %}
    <div class="jumbotron">
        <span class="word-span" id="adjective">
            {% include 'names/voting-widget.html' with upvote=adjective_upvote downvote=adjective_downvote %}
            <h1>{{ adjective }}</h1>
        </span>
        <span class="word-span" id="noun">
            {% include 'names/voting-widget.html' with upvote=noun_upvote downvote=noun_downvote %}
            <h1>{{ noun }}</h1>
        </span>
        <span class="word-span" id='surname'>
            {% include 'names/voting-widget.html' with upvote=surname_upvote downvote=surname_downvote %}
            <h1>{{ surname }}</h1>
        </span>
    </div>
{% endblock content %}
