
{% if user.is_authenticated %}
    <div class="btn-group btn-group-vertical voting-btns">
        <a href="{% if upvote %}#{% else %}{% url word_type|add:'-upvote' model_id=model_id %}{% endif %}"
           class="btn btn-success{% if upvote %} active{% endif %}">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <a href="{% if downvote %}#{% else %}{% url word_type|add:'-downvote' model_id=model_id %}{% endif %}"
           class="btn btn-danger{% if downvote %} active{% endif %}">
            <span class="glyphicon glyphicon-chevron-down"></span>
        </a>
    </div>
{% endif %}
